/* * {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
} */

/* Font */

body {
  font-family: "Work Sans";
}

/* Shared section */

.display-flex {
  display: flex;
}
.btn-primary {
  background-color: rgba(255, 144, 14, 1);
  color: white;
  padding: 20px 25px;
  font-weight: 600;
  font-size: 1.25rem;
  border: none;
  border-radius: 5px;
}
.main {
  max-width: 1440px;
  margin: 0 auto;
}
main,
section,
.teams {
  margin-top: 100px;
}

/* Color section */

.dark-01 {
  color: #131313;
}
.dark-02 {
  color: #424242;
}
.dark-03 {
  color: #727272;
}
.bg-color {
  background-color: rgba(255, 144, 14, 0.1);
}
.p-color {
  font-size: 1rem;
  color: #727272;
  margin-top: 10px;
  margin-bottom: 30px;
}
.feature-sub-title {
  font-size: 1.25rem;
  font-weight: 600;
}
.feature-sub-div {
  border: 1px solid white;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Nav section */

.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-size: 3rem;
  font-weight: 700;
}
.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1.12rem;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

/* Banner section */

.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  font-weight: 700;
  font-size: 4rem;
}
.banner-image {
  width: 100%;
}

/* Team and feature related section */

.teams {
  align-items: center;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-features {
  margin-left: 76px;
  max-width: 530px;
}
.feature-description {
  font-size: 1rem;
  color: #727272;
  margin-top: 24px;
  margin-bottom: 100px;
  max-width: 540px;
}
.span1 {
  font-size: 2.8rem;
  font-weight: 500;
  color: #727272;
}
.span2 {
  font-size: 2.8rem;
  font-weight: 700;
}
.span3 {
  font-size: 2.8rem;
  font-weight: 700;
  color: rgba(255, 144, 14, 1);
}

/* Feature section */

.feature-section {
  display: flex;
  gap: 140px;
}
#section-title {
  border-left: 5px solid rgba(255, 144, 14, 1);
  padding: 0 21px;
}
.feature-sub-div-desciption {
  margin-top: 24px;
  margin-bottom: 30px;
}
.feature-img {
  width: 100%;
}
.experience {
  background-color: rgba(255, 144, 14, 1);
}
.experience,
h1 {
  font-size: 4rem;
  font-weight: 700;
}
.experience,
p {
  font-size: 1.5rem;
  font-weight: 600;
}
.feature-btn {
  background-color: rgba(255, 144, 14, 1);
  border: none;
  border-radius: 8px;
  width: 343px;
  height: 200px;
  margin-top: -70px;
  margin-left: -70px;
}
.feature-span-1 {
  font-size: 4rem;
  font-weight: 700;
  background-color: rgba(255, 144, 14, 1);
  color: white;
}
.feature-span-2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  background-color: rgba(255, 144, 14, 1);
}

/* Some fact related section */

.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-card {
  border: 1px solid rgba(255, 144, 14, 1);
  border-radius: 8px;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.fact-number {
  font-weight: 600;
  font-size: 2.8rem;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #424242;
}
.fact-name {
  width: 600;
  font-size: 1.25rem;
  margin-top: 10px;
  color: #727272;
}

/* Sponsor section */

.our-sponsors {
  text-align: center;
}
.sponser-info,
p {
  font-size: 1rem;
  color: #727272;
}
.sponsor-img {
  display: flex;
  gap: 155px;
  margin-top: 50px;
}

/* Footer section */

.footer-div {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 40px 400px;
  border-radius: 8px;
  margin-top: 130px;
  margin-bottom: 130px;
}
.footer-description {
  font-size: 1.25rem;
  text-align: center;
  align-items: center;
}

/* Responsive media query */

@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .teams,
  .sponsor-img,
  .feature-section {
    flex-direction: column;
  }
  .team-img-container,
  .facts-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .our-features {
    max-width: 500px;
    margin-top: 30px;
  }
  .nav-link {
    font-size: 1.5rem;
  }
  .nav-item {
    padding: 5px 0;
  }
  .our-features,
  .btn-primary {
    text-align: center;
  }
  .facts-section {
    text-align: center;
  }
  .fact-card {
    margin: 0 auto;
  }
  .fact-card,
  div {
    gap: 20px;
  }
  .sponsor-img {
    max-width: 165px;
    gap: 50px;
    margin: 0 auto;
    margin-top: 35px;
  }
  .footer-div {
    max-width: 100%;
    /* margin-top: 30px; */
    margin: 0 auto;
    padding: 10px;
    margin: 35px;
    border-radius: 8px;
  }
  .feature-img {
    max-width: 500px;
    overflow: hidden;
    text-align: center;
  }

  .section-title {
    text-align: center;
    /* margin-right: 90px; */
    /* margin-right: 150px; */
  }
  .feature-btn {
    margin-top: 40px;
  }
}
